.dashboard {
  min-height: 100vh;
   background: linear-gradient(135deg,#33194d 0%,#0f4323 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

.dashboard-content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .dashboard-content {
    padding: 10px;
  }
}
